@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        background: #0F0F0F;
        color: white;
    }
}

@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea {
        @apply block w-full rounded-xl border-0 p-2 text-black shadow-sm ring-1 ring-inset ring-zinc-300 placeholder:text-slate-100 focus:ring-2 focus:ring-inset  focus:bg-orange-300 focus:ring-orange-500 focus:border-orange-500 sm:text-sm bg-white transition duration-200 ease-in-out;
    }
    input[type="checkbox"]{
        width: 16px;
        height: 16px;
        appearance: none;
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
    }
    input[type="checkbox"]:checked {
        @apply checked:bg-orange-500 border-b-orange-500
    }
    input[type="checkbox"]:checked:after {
        content: "";
        position: absolute;
        left: 4px;
        top: 0px;
        width: 6px;
        height: 12px;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        border-color: white;
        border-style: solid;
    }
    label {
        @apply block text-sm font-medium leading-6 text-white first-letter:capitalize;
    }
    header {
        @apply bg-white shadow-md;
    }
    nav {
        @apply p-5 max-w-screen-lg mx-auto flex items-center justify-between;
    }
    main {
        @apply max-w-screen-lg mx-auto;
    }
    .primary-btn {
        @apply flex w-full justify-center rounded-xl bg-orange-500 px-3 py-1.5 font-semibold leading-6 text-white shadow-sm hover:bg-orange-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 disabled:bg-zinc-400 disabled:cursor-wait transition duration-200 ease-in-out;
    }
    .text-link {
        @apply font-semibold text-blue-500 hover:text-blue-600;
    }
    .nav-link {
        @apply text-slate-200 hover:bg-orange-300 hover:text-black rounded-md px-3 py-2 text-sm font-medium transition duration-150 ease-in-out;
    }
    .title {
        @apply my-6 text-center text-3xl font-bold leading-9 text-shadow-white;
    }
    .error {
        @apply text-xs text-red-500 mt-1;
    }
    table {
        @apply w-full text-sm text-left rounded-md shadow-lg overflow-hidden mb-6 table-auto bg-white;
    }
    thead {
        @apply text-xs uppercase font-medium border-b border-slate-100 text-slate-600;
    }
    tbody tr {
        @apply hover:bg-slate-100 w-full p-0;
    }
    th {
        @apply px-6 py-4;
    }
    td {
        @apply px-6 py-4 border-b border-slate-100;
    }
    .avatar {
        @apply w-8 h-8 rounded-full overflow-hidden object-center object-cover;
    }
    .round-btn {
        @apply w-8 h-8 overflow-auto rounded-full bg-slate-100 focus:outline-none focus:ring-1 focus:ring-slate-100 focus:ring-offset-2 focus:ring-offset-slate-800;
    }
    a {
        @apply text-orange-400 hover:text-orange-200 transition duration-100 ease-in-out
    }
}
