@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        background: #04471C;
        background: radial-gradient(circle, rgba(4, 71, 28, 1) 0%, rgba(5, 15, 9, 1) 100%);
        color: white;
        height: 100%;
        overflow: hidden;

    }
}
#app{
    height: 100%;
}
@layer components {

    .layout{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    header {
        background: #020202;
        box-shadow: 5px 5px 15px black;
        max-width: 8%;
    }
    nav {
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
    nav div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    main {
        max-width: 100%;
        width: 100%;
        padding: 1rem;
    }



    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea, select{
        width:100%;
        height: 2.5rem;
        border-radius: 10px;
        background-color: #ffffffcc;

        color: black;
        box-shadow: 5px 5px 15px black;;
        transition: ease-in-out 0.5s;
        padding: 0.5rem;
        outline: 0;
   }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="url"]:focus, textarea:focus, select:focus {
        background-color: #58EE94ff;
        color: black;

    }
    input[type="checkbox"]{
        width: 16px;
        height: 16px;
        appearance: none;
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
    }
    input[type="checkbox"]:checked {
        background-color: #16DB65;

    }
    input[type="checkbox"]:checked:after {
        content: "";
        position: absolute;
        left: 4px;
        top: 0px;
        width: 6px;
        height: 12px;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        border-color: white;
        border-style: solid;
    }
    label {
        display: block;
        font-weight: 500;
        color: white;
        text-transform: capitalize;
    }

    .primary-btn {
        width:100%;
        height: 2.5rem;
        border-radius: 10px;
        background-color: #058C42;
        border: 0;
        color: white;
        box-shadow: 5px 5px 15px black;
        transition: ease-in-out 0.25s;
        padding: 0.5rem;
        outline: 0;
    }
    .primary-btn:hover{
        background-color: #16DB65;
        color: black;
    }

    .nav-link {
        color: white;
        transition: 0.2s ease-in-out;
        border-radius: 10px;
        font-size: 1rem;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 1rem;
        width: 100%;
        text-align: center;
    }
    .nav-link:hover{
        color: black;
        background: #16DB65;
    }
    .nav-link-current{
        background: #04622E;
    }
    .nav-link-logout:hover{
        background: #ea0000;
    }
    .title {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    a {
        color: #06B153;
        transition: ease-in-out 0.2s;

    }
    a:hover{
        color: #16DB65;
        text-shadow:  5px 5px 15px black;;
    }
    .textInput{
        margin-bottom: 1.5rem;
    }
    .movieForm{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        margin: auto;

    }
    .movieSearchInput{
        width: 40%;
        margin-right: 1rem;
    }
    .movieSearchBtn{
        width: 15%;
        margin-left: 1rem;
    }
    .movieCardContaier{

        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        overflow-x:hidden ;
        height: 80%;
        width: 100%;
        margin: auto;
        padding:2% 10% 0 10%;
        gap: 20px;
    }
    .movieCard{
        background: #07742D;
        background: linear-gradient(90deg, rgba(7, 116, 45, 1) 0%, rgba(7, 116, 45, 0) 88%, rgba(7, 116, 45, 0) 100%);
        border-radius: 10px;
        padding: 5px;
        display: flex;
        /*margin: 10px 0 10px 0;*/

        width: 100%;
        height: 45%;
        justify-content: space-between;
        align-items: center;
        transition: ease-in-out 0.5s;
    }
    .movieCard:hover{
        transform: scaleX(1.05) scaleY(1.05);

    }
    /*.movieCard:hover{*/
    /*    transform: scaleX(1.1) scaleY(1.1);*/

    /*}*/

    .errorInput{
        border: 1.5px solid red;
    }

    .movieCardImg{
        height: 180px;
        border-radius: 10px;
    }
    .movieCardImgDiv{
        height: 180px;
        width: 150px;
    }
    .movieCardBody{
        display: flex;
        width: 85%;
        gap:10%;
    }
    .movieCardBtn{
        width: 15%;
    }
    .movieCardTitle{

        width: 100%;
    }
    .movieCardShowBtn{
        width: 100%;
    }
    .movieCardText{
        font-size: 0.9rem;
    }
    .movieTitle{
        font-size: 1.4rem;
        font-weight: bold;
    }
    .movieDate{
        font-size: 1.1rem;
        font-weight: bold;
    }
    .loading{
        margin: auto;
        width: 10%;
        font-size: 1rem;
    }
    .LogRegForm{
        width: 40%;
        margin: auto;
    }
    .checkboxDiv{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .LogRegText{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .subtitle{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: capitalize;
        text-align: center;
    }
    .moviePopularContaier{
        /*display: flex;*/
        /*justify-content: center;*/
        height: 95%;

        /*gap: 2rem;*/
    }
    .movieCardPopular{
        background: #07742D;
        background: linear-gradient(180deg, rgba(7, 116, 45, 1) 0%, rgba(7, 116, 45, 0) 95%, rgba(7, 116, 45, 0) 100%);
        border-radius: 15px;
        width: auto;
        height: 85%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .movieCardImgDivPopular{
        max-height: 80%;
        height: 80%;
    }
    .movieCardImgPopular{
        margin-left: auto;
        margin-right: auto;
        max-height: 100%;
        height: 100%;
        border-radius: 15px;
        filter: drop-shadow(0px 0px 15px black);
        transition: ease-in-out 0.25s;
    }
    .movieCardImgPopular:hover{

        filter: drop-shadow(0px 0px 25px #16DB65);
    }
    .textPopular{
        font-size: 1rem;
        text-align: center;
    }


/*    Animation for slider */
    .fade-slide-enter-active,
    .fade-slide-leave-active {
        transition: all 0.8s ease;
    }

    .fade-slide-enter-from {
        opacity: 0;
        transform: translateY(50px);
    }

    .fade-slide-leave-to {
        opacity: 0;
        transform: translateY(-50px);
    }

    .fade-slide-move {
        transition: transform 0.8s ease;
    }

    .movies-transition-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 95%;
        gap: 2rem;
        position: relative;
    }

    .movies-transition-group > * {
        transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .movieDetailContainer{
        width: 100%;
        height: 100%;
        background: #07742D;
        background: linear-gradient(180deg, rgba(7, 116, 45, 1) 0%, rgba(7, 116, 45, 0) 95%, rgba(7, 116, 45, 0) 100%);
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        padding: 2rem;
        gap: 2rem;
        font-size: 1.2rem;
    }
    .movieDetailImgDiv{
        width: 35%;
        max-width: 40%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .movieDetailTitle{
        padding-left: 1rem;
    }
    .movieDetailImg{
        width: 100%;
        max-height: 75%;
        border-radius: 15px;
        filter: drop-shadow(5px 5px 15px black);
    }
    .movieDetails{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .movieDetailsProps{
        display: flex;
        flex-direction: column;
        /*flex-wrap: wrap;*/
        gap: 1rem
    }

    .movieDetailsForm button:hover{
        filter: drop-shadow(0px 0px 15px #16DB65);
    }
    .movieDetailPlot{
        font-weight: bold;
    }
    .movieDetailPlot p{
        font-weight: normal;
    }
    .movieDetailGenres{
        font-weight: bold;
    }
    .movieDetailGenry{
        font-weight: normal;
        margin-left: 1rem;
    }


    .detailsTextArea{
        height: 20%;
    }
    .movieDetailsForm button{
        width: 25%;
        margin: auto;
    }
    .movieDetailsForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 60%;
    }
    .movieDetailsForm form{
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        margin: auto auto 0 auto;
        height: 80%;
    }
    .btnSection{
        display: flex;
    }
    .movieDetailsPropsMore{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .detailsMessage{
        text-align: center;
        font-weight: bolder;
        color: green;
        width: 100%;
        font-size: 1.5rem;
    }
    .error {
        color: red;
        margin-top: 10px;
    }
}
