@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    body {
        background: #04471C;
        background: radial-gradient(circle, rgba(4, 71, 28, 1) 0%, rgba(5, 15, 9, 1) 100%);
        color: white;
        height: 100%;
        overflow: hidden;

    }
}
#app{
    height: 100%;
}
@layer components {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"], textarea {
        width:100%;
        height: 2.5rem;
        border-radius: 10px;
        background-color: #ffffffcc;
        border: 0;
        color: black;
        box-shadow: 5px 5px 15px black;;
        transition: ease-in-out 0.5s;
        padding: 0.5rem;
        outline: 0;
   }
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="url"]:focus, textarea:focus{
        background-color: #58EE94ff;
        color: black;

    }
    input[type="checkbox"]{
        width: 16px;
        height: 16px;
        appearance: none;
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
    }
    input[type="checkbox"]:checked {
        background-color: #16DB65;

    }
    input[type="checkbox"]:checked:after {
        content: "";
        position: absolute;
        left: 4px;
        top: 0px;
        width: 6px;
        height: 12px;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        border-color: white;
        border-style: solid;
    }
    label {
        display: block;
        font-weight: 500;
        color: white;
        text-transform: capitalize;
    }
    header {
        @apply bg-white shadow-md;
    }
    nav {

        @apply p-5 max-w-screen-lg mx-auto flex items-center justify-between;
    }
    main {
        @apply max-w-screen-lg mx-auto;
    }
    .primary-btn {
        width:100%;
        height: 2.5rem;
        border-radius: 10px;
        background-color: #058C42;
        border: 0;
        color: white;
        box-shadow: 5px 5px 15px black;
        transition: ease-in-out 0.25s;
        padding: 0.5rem;
        outline: 0;
    }
    .primary-btn:hover{
        background-color: #16DB65;
        color: black;
    }

    .nav-link {
        color: white;
        transition: 0.2s ease-in-out;
        border-radius: 10px;
        font-size: 0.9rem;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;

    }
    .nav-link:hover{
        color: black;
        background: #16DB65;
    }
    .nav-link-current{
        background: #04622E;
    }
    .title {
        margin-block: 30px;
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;

    }
    .error {
        color: red;
        margin-top: 10px;
    }
    a {
        color: #06B153;
        transition: ease-in-out 0.2s;

        /*@apply text-orange-400 hover:text-orange-200 transition duration-100 ease-in-out*/
    }
    a:hover{
        color: #16DB65;
        text-shadow:  5px 5px 15px black;;
    }
}
